<div class="container">
  <div class="content">
    <h1>Minha Lista</h1>

    <div class="menu">
      <div class="input-bar">
        <input 
          class="input"
          type="text"
          placeholder="Digite algo"
          [formControl]="nameControl"
          (keydown.enter)="createItem()"
        >

        <button
          mat-mini-fab
          color="primary"
          (click)="createItem()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="actions">
      <div>
        <button mat-button [matMenuTriggerFor]="sortMenu">
          <mat-icon>sort</mat-icon>
          {{ sortLabels[sortedBy] }}
        </button>
        <mat-menu #sortMenu="matMenu">
          <button 
            mat-menu-item
            *ngFor="let label of sortLabels | keyvalue"
            (click)="sort(label.key)"
          >
            {{ label.value }}
          </button>
        </mat-menu>

        <button
          mat-icon-button
          [class.enable]="sortedReverse"
          (click)="reverseSort()"
        >
          <mat-icon>swap_vert</mat-icon>
        </button>
      </div>

      <button
        mat-icon-button
        class="delete-btn"
        (click)="removeItems()"
        [disabled]="selectedItems.length == 0"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <mat-selection-list 
      #selected
      *ngIf="items.length != 0; else notFound"
      class="card-list"
      (selectionChange)="onSelection(selected.selectedOptions.selected)"
    >
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <mat-list-option
        *ngFor="let item of items" [value]="item" color="primary"
        class="item"
      >
        {{item?.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

<ng-template #notFound>
  <div class="not-found">Nenhum dado encontrado</div>
</ng-template>
