<div class="container">
  <div class="content">
    <h1>My List</h1>
    <div class="menu">
      <div class="option">
        <div class="input-bar">
          <input class="input" type="text" placeholder="Digite algo" [formControl]="nameControl">
          <button mat-mini-fab color="primary" (click)="createItem()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-error *ngIf="isNameValid()">Digite algo para inserir</mat-error>
      </div>
      <div class="option">
        <div class="slide-option" [formGroup]="databaseForm">
          <mat-label>Inserir em:</mat-label>
          <mat-slide-toggle color="primary" formControlName="db1">BD1</mat-slide-toggle>
          <mat-slide-toggle color="primary" formControlName="db2">BD2</mat-slide-toggle>
        </div>
        <mat-error *ngIf="isDatabasesValid()">Escolha ao menos uma base da dados</mat-error>
      </div>
    </div>
    <div class="actions">
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>sort</mat-icon>
          {{ sortLabels[sortedBy.key] }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let label of sortLabels | keyvalue" (click)="sort(label.key)">{{label.value}}</button>
        </mat-menu>
        <button mat-icon-button (click)="reverseSort()">
          <mat-icon [color]="sortedBy.reverse? 'primary': ''">swap_vert</mat-icon>
        </button>
      </div>
      <button
        mat-icon-button
        class="delete-btn"
        (click)="removeItems()"
        [disabled]="selected.selectedOptions.selected.length == 0"
      >
        <mat-icon [color]="selected.selectedOptions.selected.length == 0? 'gray': 'warn'">delete</mat-icon>
      </button>
    </div>
    <div class="card-list">
      <mat-selection-list class="list" #selected>
        <mat-list-option class="item" *ngFor="let item of items" [value]="item" color="primary">
          {{item?.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>
