@import "src/styles";

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.content {
  flex-direction: column;
  margin-top: 40px;
  width: 50%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .input-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    width: 500px;
    height: 40px;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 7px;
    margin-right: 15px;
    padding: 3px 10px;
  
    &:focus {
      outline-color: $primary-color;
    }
  }
}

.item {
  min-height: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 7px;
}

.actions{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
}

.delete-btn {
  display: flex;
  align-self: flex-end;
  color: $warn-color;
}

.snack-success {
  background: green;
  color: white;
}

.snack-fail {
  background: rgb(175, 72, 72);
  color: white;
}

.card-list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  row-gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
   background-color: rgb(240, 240, 240);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 20px;
  }
}

.not-found {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: gray;
}

.enable {
  color: $primary-color;
}