.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 45px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0px;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 1px;
  content: "";
  height: 22px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 23px;
}

input:checked + .slider {
  background-color: #3f51b5;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
